/*css web design and coded by durexz-studio*/
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500');
@import url("https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=thai");
@import url("https://fonts.googleapis.com/css?family=Mitr:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=thai");
@import url("https://fonts.googleapis.com/css?family=Asap:400,700|Roboto");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face{
	font-family:'supermarket';src:url('supermarket.eot');src:url('supermarket.ttf') format('truetype');
}

/* index.html */
body,html{
	/*font-family:Kanit;*/
	margin-top: 0px;
	cursor: url('../../point.cur'),auto;
}
a,area {cursor: url('../../link.cur'),auto; }

/* Scrollbar */
body::-webkit-scrollbar { width:5px; height:5px; background-color:#fff;}
body::-webkit-scrollbar-track {background-color:#fff;}
body::-webkit-scrollbar-thumb {background: #eee;}

@media(max-width:1170px){
body,html{
  width:1200px;
  }
}

.bg1{
	background-image: url(../../images/bg.jpg);
	background-color:transparent;
	/*background-attachment: scroll;*/
	background-repeat: no-repeat;
	background-position: center top;
	margin:0 auto ;
}

/* Home */
.bg2{
	background-image: url(../../images/bg1.jpg);
	background-color:#FFF;
	/*background-attachment: scroll;*/
	background-repeat: no-repeat;
	background-position: center top;
	margin:0 auto ;
}


ul{
	list-style-type:none;
}
a {
	color: #3e3e3e;
	text-decoration: none;
}
a:hover,
a:focus {
  color: #ff6f18;
  text-decoration: none;
  outline: 0 !important;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/*Loading*/
#loadPage{
	display:block;
	width:100%;
	height:100vh;
	background-color:transparent;
	position:fixed;
	top:0;
	left:0;
	z-index:9999999999;
}
#loadPage > span{
	position:absolute;
	background-image:url('../../images/icon/loading.png');
	width:300px;
	height:300px;
	left:50%;
	margin-left:-12em;
	top:25em;
	margin-top:-60px;
	animation:day 0.5s ease infinite;
}
@keyframes day{
    0%{
		transform:scale(1.0);	
    }
    50%{
		transform:scale(0.95);	
    }
    100%{
    	transform:scale(1.0);	
    }
}


/**
* Nav Bar Menu
**/
.navbar_menu .navbar_menu_bg {
	width:100%;
	height:56px;
	margin:0 auto;
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.08), inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.08), inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.08), inset 0 1px 1px rgba(0, 0, 0, 0.2);
	position:fixed;
	z-index:50;
}
.navbar_container {
	height:56px;
	position:relative;
}
.navbar_menu .dropdown_menu {
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:100%;
	z-index:5;
	margin-left:-1px;
	left:0;
	width:105%;
	transform:translateY(-2em);
	z-index:-1;
	transition:all .5s ease-in-out 0s,visibility 0s linear .5s,z-index 0s linear 0s;
}
.navbar_menu .dropdown_menu {
    font-size: 12px;
    background-color: #0c0c0c;
    border: 1px solid #000;
    border-top: 0;
    padding: 0 auto;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.10);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
.navbar_menu .navbar_container:hover .dropdown_menu {
	visibility:visible;
	opacity:1;
	z-index:1;
	transform:translateY(0%);
	transition-delay:0s,0s,0.3s;
}
.navbar_menu .dropdown_menu a {
	padding:15px 5px 10px 8px;
	text-align:left;
	font-weight: 200;
	border-bottom: solid 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.navbar_menu .dropdown_menu a:hover {
	padding-left:13px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.navbar_menu .dropdown_menu>li:last-child a{
	border-bottom:0;
}
.navbar_menu ul{
	width:1300px;
	margin:0 100;
	list-style:none;
	padding-left:65px;
}
.navbar_menu nav a{
	cursor: pointer;
	color:#fff;
	font-family:'Prompt',sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	display:block;
	padding:8px 22px;
	text-decoration:none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.navbar_menu nav a:hover{
	color:#fff34e;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}
.navbar_menu nav ul,.navbar_menu nav ul li{
	list-style-type:none;
	padding:0;
	margin:0;
}
.navbar_menu nav span{
	font-weight:300;
	display:block;
	font-size:70%;
	text-transform: uppercase;
}
.navbar_menu nav .arrow:after {
    width: 9px;
    height: 11px;
    background: url(../../images/angel.png) center top no-repeat;
    position: absolute;
    left: calc(50% - 4px);
    bottom: 5px;
    content: '';
}
.navbar_menu nav>ul{
	text-align:center;
}
.navbar_menu nav>ul>li{
	display:inline-block;
	border-left: solid 1px rgba(255, 255, 255, 0.09);
}
.navbar_menu nav>ul>li:first-child{
	border-left:none;
}


/**
*  Particles JS
**/
#particles-js {
	position: absolute;
	width: 100%;
	height: 750px;
	top: 0;
	background-image: url('');
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 2;
	pointer-events: none;
}

.header_table {
    width: 1200px;
    position: relative;
    z-index: 2;
    margin: -145em auto;
}
.header_img {
    width: 1200px;
	height: 0;
    position: absolute;
    z-index: 3;
}
.header_img>div {
	position: absolute;
}

/**
* Register From
**/
.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #fff;
    box-border:#eee;
    border-radius: 10px;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.main-header {
	font-family: 'Prompt',sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 20px 0 25px;
    padding-bottom: 7px;
    text-align: center;
}
small {
    font-size: 50%;
}
.img_header {
	margin-top: 2px;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.breadcrumb {
	text-align:left;
    padding: 6px 15px;
    margin-top: 0;
    margin-bottom: 20px;
    list-style: none;
	font-weight:300;
    background-color: #fff;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, .05);
    box-shadow:0 0 2px rgba(0, 0, 0, .05);	
}
.breadcrumb > li + li:before {
	font-family: FontAwesome;
    padding: 0 10px 0 5px;
    color: #a0a0a0;
    content: "\f105";
}
.breadcrumb > .active {
    color: #a0a0a0;
}
.modal-header {
	border-bottom: none;
}
.modal-title {
	font-family: 'Prompt',sans-serif;
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	padding: 15px;
}
.modal-lg {
	width: 1000px;
	margin: 60px auto 0;
}
.durexz-alert {
	font-family: 'Prompt',sans-serif;
	font-size:14px;
	font-weight:300;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px 15px;
	background:#cce9f2;
	border: 1px solid #86cde3;
	color:#2584a0;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.30);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
.durexz-alert-success {
	background: #d8f1c6;
	border-color: #b3cda1;
	color: #749958;
}
.durexz-alert-danger {
	background: #f9d9d9;
	border-color: #e1a1a1;
	color: #b55454;
}
.durexz-alert-warning {
	background: #fbf4dd;
	border-color: #d1c9ae;
	color: #978c68;
}
.durexz-alert-plain {
	background: #f8f8f8;
	border-color: #d1d1d1;
	color: #8c8c8c;
}
.durexz-alert-purple {
    background: #f2edff;
    border-color: #d0c6ea;
    color: #6d4ebb;
}
/**
* IcheckBox
**/
.icheckbox_minimal,
.iradio_minimal {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(../../images/blue.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_minimal {
	background-position: 0 0;
}
.icheckbox_minimal.hover {
	background-position: -20px 0;
}
.icheckbox_minimal.checked {
	background-position: -40px 0;
}
.icheckbox_minimal.disabled {
	background-position: -60px 0;
	cursor: default;
}
.icheckbox_minimal.checked.disabled {
	background-position: -80px 0;
}
.iradio_minimal {
	background-position: -100px 0;
}
.iradio_minimal.hover {
	background-position: -120px 0;
}
.iradio_minimal.checked {
	background-position: -140px 0;
}
.iradio_minimal.disabled {
	background-position: -160px 0;
	cursor: default;
}
.iradio_minimal.checked.disabled {
	background-position: -180px 0;
}
.fade-scale {
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.fade-scale.in {
  opacity: 1;
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
  transform: scale(1);
}
/* Download */
.btn-download {
    color: #fff;
    background-color: #21BA45;
    border-color: #21BA45;
    letter-spacing: 1px;
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
	-webkit-transition: .3s all;
    transition: .3s all;
}
.btn-download:hover {
    color: #fff;
    background-color: #16ab39;
    border-color: #16ab39;
	letter-spacing: 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.btn-download:focus, .btn-download.focus {
    color: #fff;
    background-color: #0ea432;
    border-color: #0ea432;
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
	outline: 0 !important;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.10);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.10);
}
.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
	font-size:16px;
	font-weight: 400;
}
.table-bordered > tbody > tr > td {
	font-size: 14px;
    font-weight: 400;
	vertical-align: middle;
}
.table-bordered-s {
    border: 1px solid #cecece;
}
.table-bordered-s > thead > tr > th {
    border-bottom-width: 1px;
	font-size:14px;
	font-weight: 400;
}
.table-bordered-s > tbody > tr > td {
	font-size: 12px;
    font-weight: 300;
	vertical-align: middle;
}
.table-bordered-s > thead > tr > th.org {
	background-color: #f9f9f9;
    border-color: #cecece;
    color: #696969;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.30);
}
.table-bordered-s > tbody > tr > td.org {
	background-color: #f9f9f9;
    border-color: #cecece;
    color: #696969;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.30);
}
.table-bordered-s > tbody > tr > td {
	border: 1px solid #cecece;
}
/* Server Info*/
.box-sv {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow:0 1px 8px rgba(214, 214, 214, 0.2);
    box-shadow:0 1px 8px rgba(214, 214, 214, 0.2);
}
.box-info {
    border-color: #c8e3ff;
}
.box-green {
    border-color: #eee;
}
.box-sv-body {
    padding: 10px;
}
.line-box {
    margin-top: 12px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.box-text-haeder {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: -5px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #636363;
}
.box-text-haeder small {
    font-size: 75%;
	color: #757575;
}
.btn-default {
    color: #5d5d5d;
    background-color: #fff;
    border-color: #e8e8e8;
}
.btn-default:hover {
    color: #333;
    background-color: #fbfbfb;
    border-color: #d4d4d4;
    box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.03);
}
.btn-default:focus {
    color: #333;
    background-color: #fbfbfb;
    border-color: #cccccc;
    outline: 0 !important;
}
.btn-default:active {
    color: #333;
    background-color: #fbfbfb;
    border-color: #d8d8d8;
}
.btn:active {
    background-image: none;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.list-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000;
	text-align:left;
    padding-left: 20px;
	padding-bottom: 5px;
}
.list-text2 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #576971;
    padding-left: 20px;
	padding-bottom: 6px;
	padding-top: 6px;
}
.list-haeder {
	text-align:left;
    font-size: 10px;
    color: #ff0000;
    padding-left: 25px;
    letter-spacing: 0.5px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.font-org {
    color: #341bff;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
}
.font-org2 {
    color: #341bff;
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #f5f5f5;
}
.btn-event {
    color: #fff;
    background-color: #4578d6;
    border-color: #4578d6;
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: .5s all;
	transition: .5s all;
}
.btn-event:hover {
    color: #1559d6;
    background-color: #fff;
    border-color: #4578d6;
	-webkit-text-shadow: none;
	text-shadow: none;
    -webkit-box-shadow: none;
	box-shadow: none;
    border-radius: 0px;
}
.btn-event:focus {
    color: #fff;
    background-color: #4578d6;
    border-color: #4578d6;
	outline: 0 !important;
}
.btn-event:active {
    color: #fff;
    background-color: #1b1b1b1;
    border-color: #4578d6;
}
/**
* Dashboard System
**/
.ui.message {
	background: #fff;
	box-shadow: none;
}
.ui.text.container {
	max-width: 1100px!important;
	font-size: 1.5rem;
}
.ui.form {
    font-size: 1.5rem;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1.5rem;
}
.ui.menu {
    font-size: 1.5rem;
}
.ui.segment, .ui.segments .segment {
    font-size: 1.5rem;
}
.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 6rem!important;
}
.ui-red-status {
	color: #DB2828!important;
	font-size: 1em;font-weight: 400;
}
.ui-green-status {
	color: #21BA45!important;
	font-size: 1em;
	font-weight: 400;
}
.ui-org-status {
	color: #ff8433!important;
	font-size: 1em;
	font-weight: 400;
}

/* Footer Form */
.page_footer {
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  z-index:2;
}
.page_main_footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #272727;
    border-top: solid 1px #272727;
    -webkit-box-shadow: inset 0 5px 20px #272727;
    box-shadow: inset 0 5px 20px #272727;
}
.footer_container {
  width:100%;
  height: 90px;
  padding-top: 2em;
  margin: 0 auto;
}
.footer_container span {
  text-align: center;
  line-height: 1.5em;
  display: block;
  font-family: 'Tahoma',sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.50);
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.50);
}

/* Event */
.event{
	width: 100%;
	height: 233px;
}
.event .img{
	margin:0;
	width:281px;
	padding-top: 0px;
	padding-left: 0px;
}
.head-event{
	/*font-family:Kanit;*/
	font-weight:normal;
	font-size:16px;
	color:#666;
	padding:4px;
}
.detail-event{
	/*font-family:Kanit;*/
	font-weight:normal;
	font-size:12px;
	color:#999;
	padding:4px;
}
/*===============================*/
/* Images Event */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(-4deg);
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
figure {
	width: 240px;
	height: 0px;
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}
.img-shine figure {
	position: relative;
}
.img-shine p {
	display:block;
    margin: 0 0 -2px 5px;
}
.img-shine figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.img-shine figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.img-rotate{
	overflow:hidden
}
.img-rotate img{
	-webkit-transition-property:-ms-transform,transform,-webkit-transform;
	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:ease;
	transition-property:-ms-transform,transform,-webkit-transform;
	transition-duration:.3s;
	transition-timing-function:ease;
}
.img-rotate:hover img{
	-ms-transform:rotate(10deg) scale(1.5,1.5);
	-webkit-transform:rotate(10deg) scale(1.5,1.5);
	transform:rotate(10deg) scale(1.5,1.5);
}

.img-zoom{
	margin:0;
	padding:0;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;

}
.img-zoom:hover{
	-webkit-transform:scale(0.1.1);
	-ms-transform:scale(0.1.1);
	transform:scale(1.1);
}
.panal{
	width: 100%;
	background-color: #F4F4F4;
	border-radius: 5px;
	padding: 10px 10px;
}
/*===============================*/
/* Ranking */
.name{
	font-size: 12px;
	color:#000;
}
.name-num{
	width:15%
}
.name-name{
	width:60%
}
.name-point{
	width:25%
}
.rank_num{
	text-align : center;
	font-size: 13px;
	color:#000;
	white-space: nowrap;
	padding:4px;
	background-color:#FFF;
	border: 1px solid  #ccc;
	border-radius: 10px ;
	/*-webkit-transform: skew(0deg); 
	-moz-transform: skew(-0deg); 
	-o-transform: skew(-0deg);
	transform: skew(0deg);
	margin-bottom:4px;*/
}
.rank_name{
	text-align : center;
	font-size: 13px;
	color:#000;
	white-space: nowrap;
	padding:4px;
	display:block;
	background-color:#FFF;
	border: 1px solid #ccc;
	border-radius: 10px;
	/*-webkit-transform: skew(-0deg); 
	-moz-transform: skew(-0deg); 
	-o-transform: skew(-0deg);
	transform: skew(-0deg);
	margin-bottom:4px;*/
}
.rank_point{
	text-align : center;
	font-size: 13px;
	color:#000;
	white-space: nowrap;
	padding:4px;
	background-color:#FFF;
	border: 1px solid #ccc;
	border-radius: 10px;
	/*-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
	margin-bottom:4px;*/
}

.show-reloadbox {
  padding: 15px;
  border-radius: 5px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #ccc;
  width: 400px;
  margin: 0 auto;
  margin-top: 10em;
  text-align:center;
  font-family: Tahoma;
  font-size: 12px;
}
/*===============================*/
/* Guild-war */
.guild_h{color:#000;border-bottom:0px dotted #000;padding:3px 0;}
.guild {color:#000;border-bottom: 0px dotted #000; padding: 5px 0; }
/*===============================*/
/* Status-Server */
.status-server{
	color:red;
	margin:0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
}
.status-server .online{
	color:green;
}
.status-server .offline{
	color:red;
}
.status-player{
	color:#05dc00;
	margin:0 auto;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
}
.status-account{
	color:#00c0ff;
	margin:0 auto;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
}
.status-character{
	color:#ffae00;
	margin:0 auto;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
}
/*===============================*/
/* Head_menu_Home */
.title-header {
	text-align:center;
	color:#6fadc4;
}
.title-header hr {
	background : #6fadc4;
	width : 100%;
	height : 2px;
}
.title-header h2 {
	font-size:25px;
}
.title-header h3 {
	font-size:20px;
}
/**
* Allnews Event Box
**/
.allnews-row {
    margin-right: 5px;
    margin-left: 5px;
}
.allnews-col {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    width: 33.33333333%;
}
.allnews-box {
	margin-top:15px;
    width: 320px;
    height: 350px;
    position: relative;
    padding: 10px;
    margin-bottom: 1.5em;
    background-color: #FFF;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
figure {
    margin: -10px 0 0 -10px;
}
figure {
	width: 320px;
    height: 200px;
	padding: 0;
	background: transparent;
	overflow: hidden;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.boximg-shine {
	margin-bottom: 5px;
}
.boximg-shine figure {
	position: relative;
}
.boximg-shine figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.boximg-shine figure:hover::before {
	-o-animation: shine .75s ease-in-out;
	-ms-animation: shine .75s ease-in-out;
	-moz-animation: shine .75s ease-in-out;
	-webkit-animation: shine .75s ease-in-out;
	animation: shine .75s ease-in-out;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.allnews-text-harder {
    font-size: 16px;
    font-weight: 400;
	letter-spacing:1px;
    color: #0066ff;
	padding: 5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: '...';
}
.allnews-text {
	font-size:14px;
	font-weight: 400;
	letter-spacing:0.8px;
	color: #636363;
	padding: 5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: '...';
}
.allnews-time {
	font-family: Tahoma;
	font-size:11px;
	color:#c3c3c3;
	padding: 5px;
}
.allnews-botton {
	padding: 5px;
}
.btn-view {
    color: #ff5757;
    background-color: #fff;
    border-color: #e8e8e8;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.btn-view:hover {
    color: #333;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.btn-view:focus, .btn-view.focus {
    color: #ff5757;
    background-color: #fff;
    border-color: #e8e8e8;
    outline: 0 !important;
}
.btn-view:active, .btn-view.active {
    color: #ff5757;
    background-color: #fff;
    border-color: #e8e8e8;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.allnews-time span {
	font-family: Tahoma;
	float:right;
}
.status-event {
    display: inline;
    padding: .2em .8em .3em .8em;
    font-size: 85%;
    font-weight: 300;
    line-height: 1em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-border-radius: 50em;
    border-radius: 50em;
    -webkite-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.08);
}
.bg-notice {
    background-color: #2495cc;
}
.bg-update {
    background-color: #65a72a;
}
.bg-event {
    background-color: #fd973f;
}
.bg-promotion {
    background-color: #ff6b6b;
}
/*===============================*/
label {display: inline-block;max-width: 100%;margin-bottom: 10px;font-family: 'Prompt',sans-serif;font-weight:400;color:#000;letter-spacing: 0.5px;}
label a {color:#3936ff}
label a:hover {color:#ff2658;text-decoration: none;}
label a:focus {color:#ff2658;text-decoration: none;outline: 0!important;}
.form-control {display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 16px;line-height: 1.42857143;color: rgba(0, 0, 0, 0.87);background-color: #fff;background-image: none;border: 1px solid #eee;border-radius: 0px;-webkit-box-shadow: none;box-shadow: none;-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus {border-color: #8ccaff;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(255, 255, 255, 0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(255, 255, 255, 0.6);}
.input-lg {height: 46px;padding: 10px 45px;line-height: 1.3333333;border-radius: 6px;font-family: 'Prompt',sans-serif;font-weight:200; letter-spacing:0.5px}
.input-lg2 {height: 46px;padding: 0px 16px;line-height: 1.3333333;border-radius: 6px;font-family: 'Prompt',sans-serif;font-weight: 200;color:rgba(191,191,191,.87);}
.has-feedback label ~ .form-control-feedback {top: 31px;}
.form-control::-moz-placeholder {color: rgba(191,191,191,.87);opacity: 1;}
.form-control::-ms-input-placeholder {color: rgba(191,191,191,.87);}
.form-control::-webkit-input-placeholder {color: rgba(191,191,191,.87);}
.form-control-feedback {left: 0;color: rgba(191,191,191,.87);}
.help-block {font-family:Tahoma;font-size:12px;display: block;margin-top: 10px;margin-bottom: -10px;color:#7caaff;}
.checkbox2 label {font-weight: 300;margin-top:20px}
.btn-lg, .btn-group-lg > .btn {padding: 10px 14px;font-size: 18px;line-height: 1.3333333;border-radius: 5px;}
.btn-register {color: #fff;background-color: #21BA45;border-color: #21BA45;letter-spacing: 1px;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;transition: .5s all;-o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.btn-register:hover {color: #fff;background-color: #16ab39;border-color: #16ab39;letter-spacing: 2px;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;transition: .5s all;text-shadow: none;box-shadow: none;}
.btn-register:focus, .btn-register.focus {color: #fff;background-color: #0ea432;border-color: #0ea432;outline: 0!important;}
.btn-register:active, .btn-register.active {color: #fff;background-color: #198f35;border-color: #198f35;}
.btn-close {color: #fff;background-color: #db2828;border-color: #db2828;letter-spacing: 1px;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;transition: .5s all;-o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.btn-close:hover {color: #fff;background-color: #d01919;border-color: #d01919;letter-spacing: 2px;-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;transition: .5s all;text-shadow: none;box-shadow: none;}
.btn-close:focus, .btn-close.focus {color: #fff;background-color: #ca1010;border-color: #ca1010;outline: 0!important;}
.btn-close:active, .btn-close.active {color: #fff;background-color: #b21e1e;border-color: #b21e1e;}
.btn:close, .btn.close {background-image: none;outline: 0;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .080);box-shadow: inset 0 3px 5px rgba(0, 0, 0, .080);}
.form-group {margin-bottom: 30px;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url("../../images/btn_down.png") white no-repeat 95.5% !important;background: url("../../images/btn_down.png") white no-repeat calc(100% - 10px) !important;}
select::-ms-expand { display: none; }
select > option {font-family:Tahoma;font-weight:500;font-size: 14px;color:#333;}
.modal-body {padding: 15px 14px 15px;}
.modal-lg {width: 900px;margin: 35px auto 0;}
.modal-header {border-bottom: none;}
.modal-title {font:18px'Kanit';margin: 0;line-height: 1.42857143;}
.modal-header .close {margin-top: -10px;}
.b {font-weight: bold;color: #ff5757;}
.form-panel {border: 1px solid transparent;}
.form-panel-title {margin-top: 0;margin-bottom: 0;font-size: 14px;color: #fff;}
.form-panel-title a{color:#fff;font-weight: 400;letter-spacing: 2px;padding-left: 5px;-webkit-animation: 1s textled infinite linear;-moz-animation: 1s textled infinite linear;-o-animation: 1s textled infinite linear;-ms-animation: 1s textled infinite linear;animation: 1s textled infinite linear;}
@keyframes textled {0% {padding-left: 5px;color:#555;}50% {padding-left: 10px;color:#ff0000;}100% {padding-left: 5px;color:#555;}}
.form-panel-body {padding: 10px;background-color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 0.5px;}
.form-panel-heading {padding: 13px 15px;border-bottom: 1px solid transparent;border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px; }
.form-panel-group {margin-bottom: 20px;}
.form-panel-group .form-panel {margin-bottom: 0;border-radius: 6px;}
.form-panel-group .form-panel + .form-panel {margin-top: 5px;}
.form-panel-group .form-panel-heading {border-bottom: 0;}
.form-panel-group .form-panel-heading + .form-panel-collapse > .form-panel-body {border-top: 1px solid #eee;border-bottom-left-radius:6px;border-bottom-right-radius:6px; }
.form-panel-default {border-color: #eee;}
.form-panel-default > .form-panel-heading {color: #333;background-color: #fff;border-color: #eee;}
.input-group-addon {padding: 5px 15px;font-size: 14px;font-weight: 200;letter-spacing: 1px;line-height: 1;color: #43f5ff;text-align: center;background-color: #fff;border: 1px solid #eee;border-radius: 6px;}
/*css web design and coded by durexz-studio*/